.composition {
	position: relative;
	// align-items: center;
	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
		border-radius: 2px;
		position: absolute;
		transition: all 0.5s;
		outline-offset: 2rem;
		z-index: 1;

		&--p1 {
			left: 1rem;
			top: -2rem;
		}
		&--p2 {
			right: 0;
			top: 2rem;
		}
		&--p3 {
			left: 11rem;
			top: 13rem;
		}
		&:hover {
			z-index: 5;
			transform: scale(1.2);
			box-shadow: 0 2.5rem 3rem rgba($color-black, 0.5);
			// padding: 1rem;
			// border: 1.5rem solid $color-primary;
			outline: 1.5rem solid $color-primary;
		}
	}
	&:hover &__photo:not(:hover) {
		transform: scale(0.9);
	}
}
